//    ACTIVATE COMPONENTS
//    TRUE = To enable
//    FALSE = To disable

$alert: true;
$animation: false;
$background: true;
$button: true;
$form: true;
$grid: true;
$img: true;
$label: true;
$link: true;
$margin: true;
$notify: false;
$display: true;
$padding: true;
$reset: true;
$responsive: true;
$shadow: false;
$text: true;