//CONTENT
  .content {
    @extend .pd-20;

    &-box {
      margin-bottom: 20px;
    }
  }
  .subpages {
    &-box {
      background: lighten(whitesmoke, 1%);
      border-bottom: 1px solid darken(whitesmoke, 1%);
    }
    &-item[data-active="true"] .subpages-link,
    &-item:hover:not([data-active="true"]) .subpages-link {
      color: gray
    }
    &-item:not(:hover):not([data-active="true"]) .subpages-link {
      color: darkgrey;
    }
    &-item[data-active="true"] .subpages-link:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: gray;
    }
    &-link {
      @extend .font-tertiary;
      text-transform: uppercase;
      display: block;
      padding: 15px 10px;
      text-decoration: none;
      transition: .2s;
      position: relative;
    }
  }
  .page-top {
    @extend .pd-20;
    background: whitesmoke;
  }
  .page-title {
    @extend .font-secondary;
    @extend .text-center;
    @extend .size-60;
    @extend .color-first;
  }

  .page-description {
    @extend .font-primary;
    @extend .text-center;
    @extend .size-20;
    padding: 10px 0;
    color: #9a9a9a;
    text-transform: uppercase;
  }

  .page-subtitle {
    @extend .size-40;
    @extend .font-primary;
    font-weight: lighter;
    color: #606060;
    text-transform: uppercase;
    border-bottom: 1px solid whitesmoke;
  }

  .explanation {
    margin-top: 10px;
    color: #606060;

    &-title {
      font-weight: bolder;
      margin-bottom: 10px;
    }
    ol.explanation-steps li { list-style: decimal }
    ul.explanation-steps li { list-style: disc }
    &-steps {
      padding-left: 30px;
    }
    .obs {
      background: #fff8d7;
      color: #606060;
      padding: 3px 5px;
      border-radius: 2px;
      font-size: 14px;
      margin-top: 5px;
    }

    //class
    .class {
      background: whitesmoke;
      border-radius: 3px;
      color: $first-color;
      padding: 2px 3px;
      font-size: .8em;
      display: inline-block;
    }
  }
// /CONTENT
