//CONTENT
  .content {
    @extend .pd-20;

    &-box:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .subpages {
    &-box {
      background: lighten($second-color, 1%);
      border-bottom: 1px solid darken($second-color, 1%);
    }
    &-item[data-active="true"] .subpages-link { @extend .color-first }
    &-item:not(:hover):not([data-active="true"]) .subpages-link { color: darkgrey }
    &-item:hover:not([data-active="true"]) .subpages-link { @extend .color-white }
    &-item[data-active="true"] .subpages-link:before {
      @extend .bg-first;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
    }
    &-link {
      @extend .font-tertiary;
      text-transform: uppercase;
      display: block;
      padding: 15px 10px;
      text-decoration: none;
      transition: .2s;
      position: relative;
    }
  }
  .page-top {
    @extend .pd-20;
  }
  .page-title {
    @extend .font-secondary;
    @extend .text-center;
    @extend .size-60;
    @extend .color-white;
  }
  .page-subtitle {
    @extend .size-40;
    @extend .font-primary;
    @extend .color-white;
    font-weight: lighter;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    .fa { @extend .color-first }
  }
  .explanation {
    color: darkgrey;
    margin-top: 10px;
    font-size: 14px;

    &-title {
      margin-bottom: 10px;
    }
    ol.explanation-steps li { list-style: decimal }
    ul.explanation-steps li { list-style: disc }
    &-steps {
      padding-left: 30px;
    }
    .obs {
      color: #000;
      background: lighten($warning-color, 35%);
      padding: 3px 5px;
      border-radius: 2px;
      margin-top: 5px;

      .class {
        color: transparentize($second-color, .2);
      }
    }

    //class
    .class {
      @extend .color-warning;
      background: rgba(255, 255, 255, .1);
      padding: 2px 3px;
      font-size: .8em;
      display: inline-block;
      border-radius: 3px;
    }
  }
// /CONTENT
