/*
----------------------------------------------
Framework Name: Clefs
Framework Url: Creating...
By: Victor Martins Bicudo
By Url: https://www.behance.net/victorbicudo
Description: Simple Frameword made especially for developers!
----------------------------------------------
*/

//IMPORTS ALLS
    @charset "utf-8";

    @import 'settings/_all';
    @import 'mixins/_all';
    @import 'tools/_all';
    @import 'generic/_all';
    @import 'grid/_all';
    @import 'debug/_all';
    //@import 'components/_all';
