/*
 * Clefs ready to use!
*/

//IMPORT CLEFS-DEV
    @import 'clefs-dev';

//CALL COMPONENTS
    @include clefs((
      'grid': (
        enables: (
          greater: false
        )
      ),
      'debug': (
        enable: false
      )
    ));
