@mixin grid($values) {
  //GET VALUES
  $space: map-get($values, space);
  $columns: map-get($values, columns);
  $tags: map-get($values, tags);
  $enables: map-get($values, enables);

  //ENABLES
  $aligns: map-get($enables, aligns);
  $auto: map-get($enables, auto);
  $cols: map-get($enables, cols);
  $grids: map-get($enables, grids);
  $max: map-get($enables, max);
  $offset: map-get($enables, offset);
  $order: map-get($enables, order);
  $responsive: map-get($enables, responsive);
  $greater: map-get($enables, greater);
  $lesser: map-get($enables, lesser);

  /*GRID*/
  @if($aligns){@include aligns;}
  @if($auto){@include auto($columns);}
  @if($cols){@include cols($space, $columns);}
  @if($grids){@include grids($space);}
  @if($max){@include max($columns);}
  @if($offset){@include offset($columns);}
  @if($order){@include order($columns);}
  @if($responsive){@include responsive($values);}
  @if($greater){@include greater($values);}
  @if($lesser){@include lesser($values);}
  /* /GRID*/
}

@mixin debug($values) {
  //GET VALUES
  $enables: map-get($values, enables);

  //ENABLES
  $grid: map-get($enables, grid);

  /*DEBUG*/
  @if($grid){@include grid-debug;}
  /* /DEBUG*/
}
