  <footer class="footer">
    <div class="clefs -score -nospace -auto_disable -between">
      <div class="clefs clef -claviers -center -nospace tablet-12 -greater">
        <ul class="quick-links clefs -score -center -auto_disable">
          <li class="item clef">
            <a class="link" href="#">Home</a>
          </li>
          <li class="item clef">
            <a class="link" href="#">Docs</a>
          </li>
          <li class="item clef">
            <a class="link" href="#">Debug</a>
          </li>
          <li class="item clef">
            <a class="link" href="#">Devs</a>
          </li>
          <li class="item clef">
            <a class="link" href="#">How to use</a>
          </li>
        </ul>
        <div class="clefs -center">
          <div class="clef -noauto by tablet-12 -lesser">
            Clefs by <a class="link" href="https://twitter.com/martinsbicudo" target="_blank">@martinsbicudo</a> and love
            <span class="color-first">
              <i class="fa fa-heart-o"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="clefs clef -center -nospace tablet-12 -greater">
        <figure>
          <img class="picpay" src="/clefs/assets/images/picpay.png" alt="@marginsbicudo" title="@martinsbicudo">
        </figure>
      </div>
    </div>
  </footer>
  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- MAIN -->
  <script src="/clefs/assets/js/main.js"></script>
</body>
</html>
