<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% if page.title %} {{page.title}} | {% endif %} {{site.title}}
  </title>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Cache-Control: max-age=3600, must-revalidate"/>
  <meta http-equiv="Content-Language" content="pt-br, en">

  <!-- styles -->
  <link rel="stylesheet" href="/css/clefs.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/main.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
</head>
<body>
