<!-- header -->
<header class="header pd-10 -pdt -pdb">
  <!-- open nav -->
  <div class="open-nav-box">
    <button class="open-nav" data-active="false">
      <span class="bar"></span>
    </button>
  </div><!-- /end open nav -->
  <section class="container">
    <div class="box clefs">
      <div class="clefs -center -middle">
        <div class="clef -noauto">
          <a class="social-link" href="#">
            <i class="fa fa-github"></i>
          </a>
        </div>
        <div class="clef -noauto">
          <a class="social-link" href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</header><!-- /end header -->
