<!-- header -->
<header class="header pd-10 -pdt -pdb">
  <!-- open nav -->
  <div class="open-nav" data-active="false">
    <button class="bars">
      <span class="bar"></span>
    </button>
  </div><!-- /end open nav -->
  <section class="header-container clefs -center -middle">
    <div class="clefs -noauto">
      <div class="clef">
        <a class="social-link" href="#">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div class="clef">
        <a class="social-link" href="#">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </section>
</header><!-- /end header -->
