<!-- header nav -->
<nav class="nav">
  <ul class="list clefs clef -auto_disable -claviers -nospace">
    <li class="item clef" data-active="{% if page.title == null %}true{% else %}false{% endif %}">
      <a class="link" href="/">
        <i class="fa fa-university"></i>
        <span class="name">
          HOME
        </span>
      </a>
    </li>
    <li class="item clef" data-active="{% if page.title == 'Components' %}true{% else %}false{% endif %}">
      <a class="link" href="/documentation">
        <i class="fa fa-book"></i>
        <span class="name">
          DOCUMENTATION
        </span>
      </a>
    </li>
    <li class="item clef" data-active="{% if page.title == 'Components' %}true{% else %}false{% endif %}">
      <a class="link" href="/documentation">
        <i class="fa fa-bug"></i>
        <span class="name">
          DEBUG
        </span>
      </a>
    </li>
    <li class="item clef" data-active="{% if page.title == 'Components' %}true{% else %}false{% endif %}">
      <a class="link" href="/devs">
        <i class="fa fa-code"></i>
        <span class="name">
          DEVS
        </span>
      </a>
    </li>
    <li class="item clef" data-active="false">
      <a class="link" href="/how-use">
        <i class="fa fa-coffee"></i>
        <span class="name">
          HOW TO USE
        </span>
      </a>
    </li>
  </ul>
</nav><!-- /header nav -->
