<!-- header menu -->
<nav class="menu clefs clef -noauto">
  <ul class="list clefs -claviers -nospace">
    <li class="item clef -noauto">
      <a class="link" href="/">
        <i class="fa fa-university"></i>
        <span class="name">
          HOME
        </span>
      </a>
    </li>
    <li class="item clef -noauto">
      <a class="link" href="/grid">
        <i class="fa fa-th-large"></i>
        <span class="name">
          GRID
        </span>
      </a>
    </li>
    <li class="item clef -noauto">
      <a class="link" href="/components">
        <i class="fa fa-archive"></i>
        <span class="name">
          COMPONENTS
        </span>
      </a>
    </li>
    <li class="item clef -noauto">
      <a class="link" href="/about">
        <i class="fa fa-info"></i>
        <span class="name">
          ABOUT
        </span>
      </a>
    </li>
    <li class="item clef -noauto">
      <a class="link" href="/download">
        <i class="fa fa-download"></i>
        <span class="name">
          DOWNLOAD
        </span>
      </a>
    </li>
  </ul>
</nav><!-- /header menu -->