/*CLASSES*/
  .container {
    width: 95%;
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
  }

  //text
  .text-center {
    text-align: center;
  }

  //code
  .code-box {
    position: relative;
    overflow: hidden;

    .pre {
      overflow: auto;
      display: flex;
      min-width: 100%;
      word-wrap: normal;
      line-height: 1.5;

      &[data-overflow="true"] {
        max-height: 500px;
      }
    }
    .options {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
    }
    .code-btn {
      @extend .font-primary;
      color: #fff;
      background: transparent;
      text-transform: uppercase;
      padding: 2px 10px;
      cursor: pointer;
      margin-left: 3px;
      transition: .2s;
      border-bottom: 2px solid $first-color;

      &:not(:hover) {
        border-color: transparent;
      }
    }
    .lines,
    code {
      font-size: .8em;
      height: 100%;
    }
    .lines {
      text-align: right;
      white-space: pre-line;
      padding: 0 5px 0 10px;
      background: #000;
      color: #fff;
      user-select: none;
      border-left: 2px solid $warning-color;
    }
    code {
      flex: 1;
      background: #000;
      display: block;
      white-space: pre-wrap;
      font-family: monospace;
      color: lightgray;
    }

    //colors
    .tg { @extend .color-first }
    .at { @extend .color-warning }
    .vl { color: #fff; }
  }
/* /CLASSES*/
