/*CLASSES*/
  .container {
    width: 95%;
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
  }

  //text
  .text-center {
    text-align: center;
  }

  //code
  .code-box {
    display: flex;
    background: whitesmoke;
    border-radius: 5px;
    overflow: auto;
    max-height: 600px;
    max-width: 100%;
    word-wrap: normal;

    code {
      @extend .pd-20;
      min-width: 100%;
      display: block;
      font-size: 1em;
      overflow-x: auto;
      white-space: pre-wrap;
      line-height: 1.5;
      font-family: "Courier New", monospace;
    }

    //colors
    .tg { @extend .color-first; }
    .at { color: #be9800; }
    .vl { color: #007e99; }
  }
/* /CLASSES*/
