/*CLASSES*/
  .container {
    width: 95%;
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
  }

  //text
  .text-center {
    text-align: center;
  }

  //code
  .code-box {
    display: flex;
    overflow: auto;
    max-height: 600px;
    max-width: 100%;
    word-wrap: normal;
    position: relative;

    .copy {
      position: absolute;
      background: #fff;
      top: 1px;
      right: 1px;
      padding: 2px 5px;
      border-bottom: 1px solid darken(whitesmoke, 5%);
      border-left: 1px solid darken(whitesmoke, 5%);
      color: gray;
      cursor: pointer;
    }
    .copy:hover {
      @extend .color-first;
      &,
      + code {
        border-color: $first-color;
      }
    }
    code {
      background: whitesmoke;
      width: 100%;
      display: block;
      font-size: 1em;
      overflow-x: auto;
      white-space: pre-wrap;
      line-height: 1.5;
      font-family: monospace;
      border: 1px solid transparent;
    }

    //colors
    .tg { @extend .color-first; }
    .at { color: #b77800; }
    .vl { color: #0076be; }
  }
/* /CLASSES*/
