//Primary
@import url('https://fonts.googleapis.com/css?family=Khand');
//Secondary
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');
//Tertiary
@import url('https://fonts.googleapis.com/css?family=Roboto');

.font-primary {
  font-family: 'Khand', sans-serif;
}
.font-secondary {
  font-family: 'Petit Formal Script', cursive;
}
.font-tertiary {
  font-family: 'Roboto', sans-serif;
}
