---
layout: internal
title: 'Documentation'
nav: 'Documentation'
subtitle: [
  COLUMNS,
  CLAVIERS,
  SCORE,
  COLUMNS WIDTH,
]
description: Learn CLEFS like a music
---

<section class="content clefs -score -top">
  <!-- LEFT BLOCK -->
  <div class="clefs -claviers">
    {% include _clefs/clef.html %}
    {% include _clefs/score.html %}
  </div>
  <!-- /LEFT BLOCK -->

  <!-- RIGHT BLOCK -->
  <div class="clefs -claviers tablet-6 -increase">
    {% include _clefs/claviers.html %}
  </div>
  <!-- /RIGHT BLOCK -->
</section>
