//GRIDS
  @mixin grids {
    .container {
      //without .-nospace
      > .clefs:not(.-nospace),
      .clefs:not(.-nospace):matches(.clef, [class*="clef-"]) {
        margin-top: map-get($grid, space) * -1;
        margin-right: map-get($grid, space) * -1;
        margin-left: map-get($grid, space) * -1;
      }
      
      //with .-nospace
      .clefs:not(.-nospace) > .clefs.-nospace {
        padding: map-get($grid, space);
      }
      
      //margin bottom between > .clefs
      > .clefs:not(:last-child) {
        margin-bottom: map-get($grid, space);
      }
      
      //margin bottom :last-child and .clef-*
      > .clefs:last-child,
      .clefs:matches(.clef, [class*="clef-"]):not(.-nospace) {
        margin-bottom: map-get($grid, space) * -1;
      }
    
      .clefs {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        
        //clefs auto width
        &:not(.clef, [class*="clef-"]):not(.-noauto) {
            flex-basis: 100%;
            min-width: 100%;
        }
        
        //clefs no auto width
        &:not(.clef, [class*="clef-"]).-noauto {
          flex: 0 0 auto;
        }
        
        //reverse
        .-rev:not(.-claviers) {
          flex-direction: row-reverse;
        }
        
        //claviers
        &.-claviers {
          flex-wrap: wrap;
        }
        //claviers reverse
        &.-claviers.-rev {
          flex-wrap: wrap-reverse;
        }
        &.-claviers.-redall {
          flex-wrap: wrap-reverse;
          flex-direction: row-reverse;
        }
      }
    }
  }
// /GRIDS