<div class="content-box clefs -claviers">
  <div class="clef">
    <h2 class="page-subtitle">
         {{ page.subtitle[3] }}
    </h2>
    <div class="explanation">
      <p class="explanation-title">Steps:</p>
      <ol class="explanation-steps">
        <li>Create a <span class="class">.clefs</span> box with <span class="class">.-claviers</span></li>
        <li>Create as many <span class="class">.clef</span> elements</li>
      </ol>
      <p class="obs"><strong>
        Obs:</strong> does not work with <span class="class">.-score</span>
      </p>
    </div>
  </div>
  <div class="clefs -claviers">
    <div class="clef">
      <div class="example">
        .clef
      </div>
    </div>
    <div class="clef">
      <div class="example">
        .clef
      </div>
    </div>
    <div class="clef">
      <div class="example">
        .clef
      </div>
    </div>
    <div class="clef">
      <div class="example">
        .clef
      </div>
    </div>
  </div>
  <div class="clef">
<!-- CODE HERE -->
<div class="code-box">
<div class="options">
  <button class="code-btn see">See All</button>
  <button class="code-btn copy">Copy</button>
</div>
<pre class="pre" data-overflow="true">
<div class="lines">
{% for i in (1..14) %}{{i}}
{% endfor %}
</div>
<code data-lang="html">
  &lt;<span class="tg">div <span class="at">class</span></span>=<span class="vl">"clefs -claviers"</span>&gt;
    &lt;<span class="tg">div <span class="at">class</span></span>=<span class="vl">"clef"</span>&gt;
      .clef
    &lt;/<span class="tg">div</span>&gt;
    &lt;<span class="tg">div <span class="at">class</span></span>=<span class="vl">"clef"</span>&gt;
      .clef
    &lt;/<span class="tg">div</span>&gt;
    &lt;<span class="tg">div <span class="at">class</span></span>=<span class="vl">"clef"</span>&gt;
      .clef
    &lt;/<span class="tg">div</span>&gt;
    &lt;<span class="tg">div <span class="at">class</span></span>=<span class="vl">"clef"</span>&gt;
      .clef
    &lt;/<span class="tg">div</span>&gt;
  &lt;/<span class="tg">div</span>&gt;<br>
</code>
</pre>
</div>

<!-- //END CODE HERE -->
  </div>
</div>
