@include query-max('tablet') {
  .nav {
    transition: .2s;

    &[data-active="false"] {
      position: fixed;
      &, .list{ transform: translateX(-150%) }
    }
    &,
    .list {
      padding-top: 50px;
    }
  }
}

@include query-max('plus') {
  .nav {
    position: fixed;
    z-index: 1;
  }
}
