/*EXAMPLES*/
  .example {
    font-size: .8em;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 20px 10px;
    text-align: center;
    color: $first-color;
    background: transparentize($first-color, .9);
    border: 1px solid $first-color;
    white-space: nowrap;
  }
/* /EXAMPLES*/
