//COLORS
  $first-color: #ff004e;
  $second-color: #0e0e0e;

  //status
  $info-color: #0076be;
  $success-color: #61a530;
  $warning-color: #c66d3b;
  $danger-color: #ff0030;

//ARRAYS
  $tags: "first";
  $colors: $first-color;
