/*HEADER*/
.header {
  border-bottom: 1px solid whitesmoke;

  &,
  .header-container {
    height: 50px;
  }
  .social-link {
    > .fa {
      color: #000;
      transition: .1s;
      font-size: 22px;
    }
    &:not(:hover) .fa {
      color: lighten(gray, 10%);
      transform: scale(.9);
    }
  }

  //open nav
  .open-nav {
    background: #000;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    
    &:hover {
      //bars :hover
      .bars .bar,
      .bars:before,
      .bars:after {
        @extend .bg-first;
      }
    }

    &[data-active="true"] {
      .bars .bar {
        opacity: 0;
      }
      .bars:before {
        transform: rotate(45deg);
        transform-origin: 5% 150%;
      }
      .bars:after {
        transform: rotate(-45deg);
        transform-origin: 5% -40%;
      }
    }
  }
  .bars {
    background: inherit;
    cursor: pointer;
    padding: 15px;
    transition: .2s;
    position: relative;

    //bars
    &:before,
    &:after {
      content: "";
      position: absolute;
    }

    &:before { top: 16px }
    &:after { bottom: 16px }

    .bar {
      margin: 8px 0;
    }

    //bar style
    .bar,
    &:before,
    &:after {
      background: #fff;
      display: block;
      height: 3px;
      width: 20px;
      border-radius: 2px;
      transition: .2s;
    }
  }
}
/* /HEADER*/
