/*HEADER*/
.header {
  &,
  .header-container {
    height: 50px;
  }
  .social-link {
    > .fa {
      color: #fff;
      transition: .1s;
      font-size: 22px;
    }
    &:not(:hover) .fa {
      color: darkgrey;
      transform: scale(.9);
    }
  }

  //open nav
  .open-nav {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    &:hover {
      //bars :hover
      .bars .bar,
      .bar:before,
      .bar:after {
        @extend .bg-first;
      }
    }

    &[data-active="true"] {
      .bars .bar {
        background: transparent;
      }
      .bar:before {
        transform: rotate(45deg);
        top: 0;
      }
      .bar:after {
        transform: rotate(-45deg);
        bottom: 0;
      }
    }
  }
  .bars {
    background: lighten($second-color, 10%);
    cursor: pointer;
    padding: 15px;
    transition: .2s;
    width: 100%;
    border-radius: 0 0 5px 0;

    //bars
    .bar:before,
    .bar:after {
      content: "";
      position: absolute;
    }

    .bar:before { top: 7px }
    .bar:after { bottom: 7px }

    .bar {
      position: relative;
      margin: 8px 0;
      left: 50%;
      transform: translateX(-50%);
    }

    //bar style
    .bar,
    .bar:before,
    .bar:after {
      background: #fff;
      display: block;
      height: 3px;
      width: 20px;
      border-radius: 2px;
      transition: .2s;
    }
  }
}
/* /HEADER*/
