//NAV
.nav {
  flex: 0 0 50px;
  width: 50px;

  &,
  .list {
    min-height: 100vh;
  }
  .list {
    width: inherit;
    background: inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .item[data-active="true"]:not(:hover) .name {
    @extend .color-first;
    right: -5px;
    left: 0;
  }
  .item:not([data-active="true"]):not(:hover) .name {
    right: 0;
    transform: translateX(-120%);
  }
  .item:hover .name {
    left: 50px;
    box-shadow: .1em .1em .2em .1em rgba(0, 0, 0, 0.2);
  }
  .item:hover,
  .item[data-active="true"] {
    .link { z-index: 1 }
    .fa {
      @extend .bg-first;
      box-shadow: .05em 0 .05em 0 rgba(0, 0, 0, .2);
    }
  }
  &,
  .link,
  .link .fa {
    background: lighten($second-color, 10%);
  }
  .link {
    display: block;
    position: relative;
    text-decoration: none;
  }
  .link,
  .link > .fa {
    width: 100%;
    height: 50px;
  }
  .link > .fa {
    @extend .text-center;
    line-height: 50px;
  }
  .link,
  .name {
    @extend .color-white;
  }
  .name {
    @extend .color-white;
    @extend .font-primary;
    @extend .bg-first;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 0 20px;
    transition: .1s;
    border-radius: 0 5px 5px 0;
    white-space: nowrap;
    overflow: hidden;
  }
}
/* /NAV*/
