<li class="subpages-item clef" data-active="{% if page.title == 'Columns' %}true{% else %}false{% endif %}">
  <a class="subpages-link" href="/clefs/grid">Cols</a>
</li>
<li class="subpages-item clef" data-active="{% if page.title == 'Score' %}true{% else %}false{% endif %}">
  <a class="subpages-link" href="/clefs/grid/score">Score</a>
</li>
<li class="subpages-item clef" data-active="{% if page.title == 'Claviers' %}true{% else %}false{% endif %}">
  <a class="subpages-link" href="/clefs/grid/claviers">Claviers</a>
</li>
<li class="subpages-item clef" data-active="{% if page.title == 'Responsive' %}true{% else %}false{% endif %}">
  <a class="subpages-link" href="/clefs/grid/responsive">Responsive</a>
</li>
