<li class="subpages-item clef" data-active="true">
  <a class="subpages-link" href="#">Grid</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
<li class="subpages-item clef">
  <a class="subpages-link" href="#">Claviers</a>
</li>
